<html>

	<head>
		<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"> -->
	</head>

	<body>

		<h1>{{item.name}} in {{item.category.name}}</h1>

		{{item.description}}

				<br>
				<a href="{{url_for('editItem', category_id=item.category_id, item_id=item.id)}}"> Edit </a>
				</br>
				<a href="{{url_for('deleteItem', category_id=item.category_id, item_id=item.id)}}"> Delete </a>
		<br>
		<br>
		<a href="{{url_for('showItems', category_id=item.category_id)}}"> Back To {{item.category.name}} List </a>
	</body>
</html>